@font-face {
    font-family: "San Francisco UI";
    src: url("../fonts/San\ Francisco/SFUIText-Regular.otf");
    font-weight: 400;
}

/* Deep-orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #f4511e;
    --primary-transparent: #f4511ecc;
    --primary-hover: #f00e0e;
    --primary-focus: rgba(244, 81, 30, 0.25);
    --primary-inverse: #fff;
    --secondary: #aa0000;
    --secondary-hover: #800000;
    --secondary-focus: rgba(170, 0, 0, 0.125);
    --tertiary: #333;
    --tertiary-transparent: #333333cc;
}

/* Deep-orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #f4511e;
    --primary-hover: #f00e0e;
    --primary-focus: rgba(244, 81, 30, 0.25);
    --primary-inverse: #fff;
    --secondary: #aa0000;
    --secondary-hover: #800000;
    --secondary-focus: rgba(170, 0, 0, 0.125);
    --tertiary: #333;
    --tertiary-transparent: #333333cc;
}

/* Deep-orange (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --header-height: 10vh;
    --header-width: 100vw;
    --menu-btn-min-width: 150px;
    --success: #4caf50;
    --success-hover: #43a047;
    --success-focus: rgba(76, 175, 80, 0.25);
    --error: #f44336;
    --error-hover: #e53935;
    --error-focus: rgba(244, 67, 54, 0.25);
    --font-family: "San Francisco UI", sans-serif;
}

@media (max-width: 992px) {
    body > #menu #menu_btns div {
        margin-bottom: var(--spacing);
    }
}

html > body {
    padding: var(--spacing);
}

body > header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: var(--spacing);
    height: var(--header-height);
    width: var(--header-width);
    margin: calc(var(--spacing) * -1);
    margin-bottom: var(--block-spacing-vertical);
    background-color: var(--primary-transparent);
    box-shadow: var(--card-box-shadow);
}

body > header video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--header-width);
    height: inherit;
    object-fit: cover;
}

body > header h1 {
    margin: 0;
}

body > header h1 a {
    color: var(--primary-inverse);
    text-decoration: none;
}

body > header #logo {
    background-color: var(--primary-inverse);
    margin: calc(var(--spacing) * -1);
    width: var(--header-height);
    height: var(--header-height);
    margin-left: auto;
}

body > header #version_no {
    color: var(--secondary);
    background-color: var(--primary-inverse);
    padding: 0 var(--spacing);
    border-radius: var(--border-radius);
    margin: 0 var(--spacing);
}

body > section {
    width: var(--header-width);
    margin: calc(var(--spacing) * -1);
    padding-bottom: calc(var(--spacing) * 2);
}

body > section > h2 {
    padding-bottom: var(--spacing);
    border-bottom: var(--outline-width) solid var(--primary);
}

body > footer {
    text-align: center;
    background-color: var(--tertiary);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: var(--spacing);
}

body > footer small {
    color: var(--primary-inverse);
    margin: 0;
}

body > dialog > article {
    min-width: calc(var(--header-width) / 2);
    --block-spacing-vertical: calc(var(--spacing) * 2);
}

body > dialog > article > h4 {
    margin: calc(var(--block-spacing-vertical) * -1)
        calc(var(--block-spacing-horizontal) * -1) var(--block-spacing-vertical)
        calc(var(--block-spacing-horizontal) * -1);
    background-color: var(--primary);
    padding: calc(var(--spacing) / 3) var(--spacing);
    color: var(--primary-inverse);
}

body > dialog > article > h3 {
    margin-bottom: var(--spacing);
}

body > #menu h2 {
    margin-bottom: var(--spacing);
}

body > #menu #quote {
    display: block;
    margin-bottom: calc(var(--spacing) * 3);
    color: var(--tertiary-transparent);
}

body > #menu #user_type {
    display: block;
    color: var(--primary-inverse);
    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: calc(var(--spacing) * 0.1) var(--spacing);
    margin-bottom: calc(var(--spacing) * 0.5);
    width: fit-content;
}

body > #menu #menu_btns div {
    background-color: var(--primary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
    gap: var(--spacing);
    border-radius: var(--border-radius);
    min-width: var(--menu-btn-min-width);
    transition: background-color var(--transition);
}

body > #menu #menu_btns div:nth-child(2n) {
    background-color: var(--secondary);
}

body > #menu #menu_btns div:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
}

body > #menu #menu_btns div:nth-child(2n):hover {
    background-color: var(--secondary-hover);
}

body > #menu #menu_btns div p {
    text-transform: uppercase;
    margin: 0;
    color: var(--primary-inverse);
}

body > #menu #menu_btns div img {
    width: calc(var(--header-height) / 2);
    height: calc(var(--header-height) / 2);
}