/* Deep-orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #f4511e;
    --primary-transparent: #f4511ecc;
    --primary-hover: #ff5722;
    --primary-focus: rgba(244, 81, 30, 0.125);
    --primary-inverse: #fff;
    --secondary: #56423c;
    --secondary-hover: #493932;
    --secondary-focus: rgba(86, 66, 60, 0.125);
    --tertiary: #333;
    --tertiary-transparent: #333333cc;
}

/* Deep-orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #f4511e;
        --primary-hover: #ff5722;
        --primary-focus: rgba(244, 81, 30, 0.25);
        --primary-inverse: #fff;
        --secondary: #56423c;
        --secondary-hover: #493932;
        --secondary-focus: rgba(86, 66, 60, 0.125);
    }
}

/* Deep-orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #f4511e;
    --primary-hover: #ff5722;
    --primary-focus: rgba(244, 81, 30, 0.25);
    --primary-inverse: #fff;
    --secondary: #56423c;
    --secondary-hover: #493932;
    --secondary-focus: rgba(86, 66, 60, 0.125);
}

/* Deep-orange (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --header-height: 10vh;
}

html > body {
    padding: 1rem;
}

body > header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    height: var(--header-height);
    width: 100vw;
    margin: -1rem;
    margin-bottom: var(--block-spacing-vertical);
    background-color: var(--primary-transparent);
    box-shadow: 0 0 20px 5px var(--tertiary-transparent);
}

body > header video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: inherit;
    object-fit: cover;
}

body > header h1 {
    margin: 0;
}

body > header h1 a {
    color: var(--primary-inverse);
    text-decoration: none;
}

body > header img {
    background-color: var(--primary-inverse);
    margin: -1rem;
    width: var(--header-height);
    height: var(--header-height);
}

body > section {
    margin-bottom: 0;
}

body > footer {
    text-align: center;
    background-color: var(--tertiary);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

body > footer p {
    color: var(--primary-inverse);
    font-size: 0.8rem;
    margin: 0;
}

body > dialog > article {
    min-width: 50vw;
}

body > #spacer {
    min-height: var(--block-spacing-vertical);
}

body > #menu h2 {
    padding-bottom: 0.5rem;
    border-bottom: 5px solid var(--primary);
}

body > #menu #menu_btns div {
    background-color: var(--primary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    gap: 1rem;
    border-radius: var(--border-radius);
    min-width: 150px;
    transition: background-color 0.1s ease-in-out;
}

body > #menu #menu_btns div:nth-child(2n) {
    background-color: var(--secondary);
}

body > #menu #menu_btns div:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
}

body > #menu #menu_btns div:nth-child(2n):hover {
    background-color: var(--secondary-hover);
}

body > #menu #menu_btns div p {
    margin: 0;
    color: var(--primary-inverse);
    font-size: 1.2rem;
}

body > #menu #menu_btns div img {
    width: calc(var(--header-height) / 2);
    height: calc(var(--header-height) / 2);
    fill: var(--primary-inverse);
}
