{% extends "layout.html" %}

{% block script %}
<script src="{{ url_for('static', filename='scripts/initialize.js') }}"></script>
{% endblock %}

{% block title %}
<title>Initialize: Flames POS</title>
{% endblock %}

{% block main %}
<section id="manage" class="container">
    <h2>Login as super admin to continue</h2>
    <form id="auth_form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <button type="button" id="submit" name="submit">Login</button>
    </form>
</section>
{% endblock %}