{% extends "layout.html" %}

{% block script %}
<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}

{% block title %}
<title>Login: Flames POS</title>
{% endblock %}

{% block main %}
<section id="login" class="container">
    <h2>Login to FlamesPOS</h2>
    <form id="login_form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <section id="form_btns" class="grid">
            <input type="button" id="submit" name="submit" value="Submit">
            <input type="button" id="exit" name="exit" value="Exit">
        </section>
    </form>
</section>
{% endblock %}