<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flames POS</title>
</head>

<body>
    <header>
        <h1>FlamesPOS</h1>
        <img alt="Flames Pizzeria logo" src="{{ url_for('static', filename='images/flames-logo.svg') }}" height="100">
    </header>

    <section id="login">
        <h2>Login</h2>
        <form id="login-form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="e.g. FlamesAdmin123">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="button" id="submit" name="submit" value="Submit">
            <input type="button" id="exit" name="exit" value="Exit">
        </form>
    </section>

    <footer>
        <p>Designed and Developed by D&S Software Solutions</p>
    </footer>
</body>

</html>