<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='scripts/menu.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>Menu: Flames POS</title>
</head>

<body>
    <header>
        <h1><a href="{{ url_for('login') }}">FlamesPOS</a></h1>
        <img alt="Flames Pizzeria logo" src="{{ url_for('static', filename='images/flames_logo.svg') }}" height="100">
        <video src="{{ url_for('static', filename='videos/fireplace.mp4') }}" autoplay muted loop height="500"></video>
    </header>

    <dialog id="error">
        <article>
            <h3 id="error_title"></h3>
            <p id="error_lbl"></p>
            <footer>
                <a id="error_close" href="#" role="button">OK</a>
            </footer>
        </article>
    </dialog>

    <section id="menu" class="container">
        <h2>Welcome, {{username}}!</h2>
        <section id="menu_btns" class="grid">
            <div id="billing_btn">
                <img alt="Billing icon" src="{{ url_for('static', filename='icons/billing.svg') }}" height="100">
                <p>Billing</p>
            </div>
            <div id="analytics_btn">
                <img alt="Analytics icon" src="{{ url_for('static', filename='icons/analytics.svg') }}" height="100">
                <p>Analytics</p>
            </div>
            <div id="reports_btn">
                <img alt="Reports icon" src="{{ url_for('static', filename='icons/reports.svg') }}" height="100">
                <p>Reports</p>
            </div>
            <div id="settings_btn">
                <img alt="Settings icon" src="{{ url_for('static', filename='icons/settings.svg') }}" height="100">
                <p>Settings</p>
            </div>
            <div id="logout_btn">
                <img alt="Logout icon" src="{{ url_for('static', filename='icons/logout.svg') }}" height="100">
                <p>Logout</p>
            </div>
        </section>
    </section>

    <section id="spacer"></section>

    <footer>
        <p>Designed and Developed by D&S Software Solutions</p>
    </footer>
</body>

</html>